@{
    ViewData["Title"] = "Гостевая книга";
}
@using Microsoft.AspNetCore.Http

@if (Context.Session.GetString("login") != null)
        {
<div>
        Здравствуйте, @Context.Session.GetString("login")
</div>
    @using (Html.BeginForm("Logout", "Login", FormMethod.Get))
    {
    <div>
        <input type="submit" value="Выйти" />
    </div>
    }
        <span>Введите сообщение </span>
    <asp:TextBox ID="txtArea" runat="server" TextMode="MultiLine" Rows="4" Columns="50"></asp:TextBox>

   }

<div class="text-center">
    <h1 class="display-4">Гостевая книга</h1>
    
</div>
