@{
    ViewData["Title"] = "Гостевая книга";
}
@model GestBook.Models.Message
@using Microsoft.AspNetCore.Http
<div class="text-center">
    <h1 class="display-4">Гостевая книга</h1>
</div>
@if (Context.Session.GetString("login") != null)
{
    @using (Html.BeginForm("AddMessage", "Login", FormMethod.Get)){ 
        <span>напишите отзыв </span>
                 @Html.TextAreaFor(model => model.Text)
        <div>
            <input type="submit" value="Добавить отзыв" />
        </div>
    }
}
@foreach(var m in ViewBag.list)
{
     <div>
         <div>@m.user.Name</div>
         <div>@m.Text</div>
         <div>@m.MessageDate</div>
     </div>
}


