@model GestBook.Models.User
@using Microsoft.AspNetCore.Http

<form id="registrationForm" action="Registration" method="post">
    @Html.AntiForgeryToken()
    <div>
            @Html.ValidationSummary(true, "")
            <div>
               <span>Введите логин</span>
                <div>
                @Html.EditorFor(model => model.Name)
                </div>
            </div>

            <div>
            <span>Придумайте пароль для входа</span>
                <div>
                @Html.PasswordFor(model => model.Password, new { id = "Password" })
                </div>
            </div>

            <div>
            <span>Подтвердите пароль</span>
            <span id="true" style="display:none; color:red">*** пароли не совпадают</span>
                <div>
                <input type="password" id="confirmPassword" name="confirmPassword" required="required" />
                </div>
            </div>

            <div>
                <div>
                <button type="submit">Зарегистрироваться</button>
                </div>
            </div>      
    </div>
    </form>
  
